<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} - My Blog</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
   <!-- <div class="update">
    <p>EXP:<span class="highlight neg">-6720💎</span></p>
    <p>Rank:<span class="highlight">Parasite🪱</span></p>
    <p><a href="/posts/Daily tasks log">Daily Tasks↗ Streak:</a><span class="highlight">0🔥</span></p>
    <p>last updated:<span class="highlight">Aug 31, 2025</span></p>
  </div> -->
  
  <div class="container">
    <nav>
      <a href="/" class="back-link">← Back</a>
    </nav>
    
    <article>
      <header>
        <h1>{{ title }}</h1>
        <time>{{ date | dateDisplay }}</time>
        <div class="post-tags">
          {% if type %}
            <span class="tag tag-{{ type }}">{{ type }}</span>
          {% endif %}
          {% if status %}
            <span class="tag tag-{{ status }}">{{ status }}</span>
          {% endif %}
          {% if health %}
            <span class="tag tag-{{ health }}">{{ health }}</span>
          {% endif %}
          {% if level %}
            <span class="tag tag-level">Lvl: {{ level }}</span>
          {% endif %}
        </div>
      </header>
      
      
      <div class="content">
        {{ content | safe }}
      </div>
    </article>
  </div>
</body>
</html>